table {
    width: 100%;
    padding: 20px;
    border-collapse:collapse;
}

td, th {
    border: none;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #c0005c;
    color: white;
}

img {
    max-width: 20px;
}

tr:nth-child(even) {
    background-color: #221e35;
}

tr:nth-child(even) input {
    background-color: #12101C;
}

.buttonElement {
    margin: 0%;
    width: 30px;
    padding:0%;
    border: none;
}

.Scrollable-Table {
    overflow: auto;
    height: 700px;
}

.Scrollable-Table thead {
    position: sticky;
    top: 0;
}

.Scrollable-Table tfoot {
    position: sticky;
    bottom: 0;
    width: 100%;
    font-style: italic;
    text-align: left;
    background-color: #12101C;
}

