.App {
  text-align: center;
}

.Table-Holder {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Table-Operations {
  display: grid;
  align-items: center;
  height: 75px;
  display:flex
}

.Refesh-button {
  height: 50%;
  top: 50%;
  margin: 5px;
}

.Search-Bar {
  margin: 5px;
  height: 50%;
  width: 50%;
}

.Search-Input {
  border: #c0005c;
  background-color: #221e35;
  top: 50%;
  height: 100%;
  width: 50%;
}

.Add-Holder {
  margin-left: auto;
  margin-right: auto;
  height: 30%;
  width: 80%;
}

input {
  color: white;
}
